# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambientes virtuais
.venv/
venv/
env/

# uv / pip
.uv/
.python-version

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db
